Repository react-hook-form/resolvers: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typescript, collect-peerdeps

lint:
  run: bun lint {staged_files}
  stage_fixed: true

typescript:
  run: bun tsc --noEmit

collect-peerdeps:
  run: node ./config/collect-peerdeps.js
  stage_fixed: true

fix(zod): relax zod v4 resolver schema typing
  zod/src/zod.ts
Due: lint, typescript

style(zod): apply formatter output to overload declarations
  zod/src/zod.ts
Due: lint, typescript

test(zod): add structural overload type inference coverage
  zod/src/__tests__/zod-v4-mini.ts
  zod/src/__tests__/zod-v4.ts
Due: lint, typescript

fix: ambigious expression
  README.md
Due: none

docs: clarify yupResolver context usage in README
  README.md
Due: none

docs: clarify yup context override
  README.md
Due: none

feat: add ata-validator resolver
  ata-validator/package.json
  ata-validator/src/__tests__/Form-native-validation.tsx
  ata-validator/src/__tests__/Form.tsx
  ata-validator/src/__tests__/__fixtures__/data.ts
  ata-validator/src/__tests__/__snapshots__/ata-validator.ts.snap
  ata-validator/src/__tests__/ata-validator.ts
  ata-validator/src/ata-validator.ts
  ata-validator/src/index.ts
  ata-validator/src/types.ts
  bun.lock
  package.json
Due: lint, typescript, collect-peerdeps

fix: add ata-validator to node-13-exports and export map check
  config/node-13-exports.js
Due: lint

perf: move Validator instantiation to factory scope
  ata-validator/src/ata-validator.ts
Due: lint, typescript

feat: add ata-validator resolver (#845)
  ata-validator/package.json
  ata-validator/src/__tests__/Form-native-validation.tsx
  ata-validator/src/__tests__/Form.tsx
  ata-validator/src/__tests__/__fixtures__/data.ts
  ata-validator/src/__tests__/__snapshots__/ata-validator.ts.snap
  ata-validator/src/__tests__/ata-validator.ts
  ata-validator/src/ata-validator.ts
  ata-validator/src/index.ts
  ata-validator/src/types.ts
  bun.lock
  config/node-13-exports.js
  package.json
Due: lint, typescript, collect-peerdeps

Revise supported versions in SECURITY.md
  SECURITY.md
Due: none

fix issue with toNestErrors.ts
  src/__tests__/toNestErrors.ts
  src/toNestErrors.ts
Due: lint, typescript

remove cbs
  .codesandbox/ci.json
  package.json
Due: none

fix issue with toNestErrors.ts (#848)
  .codesandbox/ci.json
  package.json
  src/__tests__/toNestErrors.ts
  src/toNestErrors.ts
Due: lint, typescript

update readme on ata-validator
  README.md
Due: none

feat: 5.3.0
  package.json
Due: none

Notes added by 'git notes add'
  56b68f3798612601190a533887847d8fef2c94af
Due: none

feat: add guidance on passing context to `yupResolver` (useForm context) (#835)
  README.md
Due: none

Notes added by 'git notes add'
  3d2992472adf5735b46b175e22bea82fddf13854
Due: none

fix: preserve standard schema root errors
  standard-schema/src/__tests__/__snapshots__/standard-schema.ts.snap
  standard-schema/src/__tests__/standard-schema.ts
  standard-schema/src/standard-schema.ts
Due: lint, typescript

fix: declare validation libraries as optional peerDependencies
  bun.lock
  config/check-peer-deps.js
  package.json
Due: lint

fix: declare validation libraries as optional peerDependencies (#850)
  bun.lock
  config/check-peer-deps.js
  package.json
Due: lint

Notes added by 'git notes add'
  d5e5134f447f68f3a93402ca97f52c1ce379a8f1
Due: none

fix #844 yupResolver: Control<T> incompatible with optional fields when passed to custom component
  yup/src/yup.ts
Due: lint, typescript

fix #844 yupResolver: Control<T> incompatible with optional fields when passed to custom component (#851)
  yup/src/yup.ts
Due: lint, typescript

fix #842 zodResolver() type overload fails with Zod v4.3.x due to branded version mismatch
  zod/src/zod.ts
Due: lint, typescript

fix #842 zodResolver() type overload fails with Zod v4.3.x due to branded version mismatch (#852)
  zod/src/zod.ts
Due: lint, typescript

fix: preserve standard schema root errors
  standard-schema/src/__tests__/standard-schema.ts
  standard-schema/src/standard-schema.ts
Due: lint, typescript

fix: preserve standard schema root errors (#853)
  standard-schema/src/__tests__/standard-schema.ts
  standard-schema/src/standard-schema.ts
Due: lint, typescript

Notes added by 'git notes add'
  08f25e9e9c62aec8361e74368d8b57f4e52a3182
Due: none

Change test command from 'bun test' to 'bun run test' (#825)
  CONTRIBUTING.md
Due: none

fix(tests): fix all failing tests
  .github/workflows/main.yml
  CONTRIBUTING.md
  arktype/src/__tests__/__snapshots__/arktype.ts.snap
  arktype/src/__tests__/arktype.ts
  computed-types/src/__tests__/computed-types.ts
  effect-ts/src/__tests__/effect-ts.ts
  io-ts/src/__tests__/io-ts.ts
  standard-schema/src/__tests__/standard-schema.ts
  superstruct/src/__tests__/superstruct.ts
  superstruct/src/superstruct.ts
  typanion/src/__tests__/typanion.ts
  typebox/src/__tests__/typebox.ts
  typeschema/src/__tests__/typeschema.ts
  typeschema/src/typeschema.ts
  valibot/src/__tests__/valibot.ts
  vine/src/__tests__/vine.ts
  vitest.config.mts
  yup/src/__tests__/yup.ts
  zod/src/__tests__/__snapshots__/zod-v3.ts.snap
  zod/src/__tests__/__snapshots__/zod-v4-mini.ts.snap
  zod/src/__tests__/__snapshots__/zod-v4.ts.snap
  zod/src/__tests__/zod-v3.ts
  zod/src/__tests__/zod-v4-mini.ts
  zod/src/__tests__/zod-v4.ts
Due: lint, typescript

test(standard-schema): add missing snapshot entries for root-error tests
  standard-schema/src/__tests__/__snapshots__/standard-schema.ts.snap
Due: none

chore: fix repo unit tests issue (#854)
  .github/workflows/main.yml
  arktype/src/__tests__/__snapshots__/arktype.ts.snap
  arktype/src/__tests__/arktype.ts
  computed-types/src/__tests__/computed-types.ts
  effect-ts/src/__tests__/effect-ts.ts
  io-ts/src/__tests__/io-ts.ts
  standard-schema/src/__tests__/__snapshots__/standard-schema.ts.snap
  standard-schema/src/__tests__/standard-schema.ts
  superstruct/src/__tests__/superstruct.ts
  superstruct/src/superstruct.ts
  typanion/src/__tests__/typanion.ts
  typebox/src/__tests__/typebox.ts
  typeschema/src/__tests__/typeschema.ts
  typeschema/src/typeschema.ts
  valibot/src/__tests__/valibot.ts
  vine/src/__tests__/vine.ts
  vitest.config.mts
  yup/src/__tests__/yup.ts
  zod/src/__tests__/__snapshots__/zod-v3.ts.snap
  zod/src/__tests__/__snapshots__/zod-v4-mini.ts.snap
  zod/src/__tests__/__snapshots__/zod-v4.ts.snap
  zod/src/__tests__/zod-v3.ts
  zod/src/__tests__/zod-v4-mini.ts
  zod/src/__tests__/zod-v4.ts
Due: lint, typescript

fix: Zod resolver does not respect union error
  yup/src/yup.ts
  zod/src/__tests__/zod-v3.ts
  zod/src/__tests__/zod-v4.ts
  zod/src/zod.ts
Due: lint, typescript

chore: upgrade lib dev deps
  bun.lock
  package.json
Due: none

fix: Zod resolver does not respect union error (#855)
  yup/src/yup.ts
  zod/src/__tests__/zod-v3.ts
  zod/src/__tests__/zod-v4.ts
  zod/src/zod.ts
Due: lint, typescript

Notes added by 'git notes add'
  4e56b2b93976d36b231c6d05a9630e6bb08db3b7
Due: none

ts 6
  bun.lock
  nope/src/nope.ts
  nope/src/types.ts
  package.json
  tsconfig.json
  typeschema/src/__tests__/Form-native-validation.tsx
  typeschema/src/__tests__/Form.tsx
Due: lint, typescript

test ci
  ajv/tsconfig.json
  arktype/tsconfig.json
  ata-validator/tsconfig.json
  class-validator/tsconfig.json
  computed-types/tsconfig.json
  effect-ts/tsconfig.json
  fluentvalidation-ts/tsconfig.json
  io-ts/tsconfig.json
  joi/tsconfig.json
  nope/tsconfig.json
  package.json
  standard-schema/tsconfig.json
  superstruct/tsconfig.json
  tsconfig.build.json
  typanion/tsconfig.json
  typebox/tsconfig.json
  typeschema/tsconfig.json
  valibot/tsconfig.json
  vest/tsconfig.json
  vine/tsconfig.json
  yup/src/yup.ts
  yup/tsconfig.json
  zod/tsconfig.json
Due: lint, typescript

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  typescript: any of: *.{ts,tsx}
  collect-peerdeps: any of: **/package.json
