Repository react-hook-form/resolvers: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typescript, collect-peerdeps

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: bun lint {staged_files}
      stage_fixed: true
    typescript:
      glob: '*.{ts,tsx}'
      run: bun tsc --noEmit
    collect-peerdeps:
      glob: '**/package.json'
      run: node ./config/collect-peerdeps.js
      stage_fixed: true

Notes added by 'git notes add'
  4cfba18117e8b76bde326a54103340590c867a21
Due: none

fix: ata-validator peer dependency version
  ata-validator/package.json
  bun.lock
  package.json
Due: collect-peerdeps

fix: ata-validator peer dependency version (#871)
  ata-validator/package.json
  bun.lock
  package.json
Due: collect-peerdeps

Notes added by 'git notes add'
  827f20bd97a4618d75162e54fe9ba2419fd4e50a
Due: none

Update joi to v18
  bun.lock
  package.json
Due: none

fix(vest): support Vest 6
  bun.lock
  package.json
  vest/src/__tests__/Form-native-validation.tsx
  vest/src/__tests__/Form.tsx
  vest/src/__tests__/__fixtures__/data.ts
  vest/src/__tests__/special-path-names.ts
  vest/src/__tests__/vest.ts
  vest/src/types.ts
  vest/src/vest.ts
Due: lint, typescript

fix(vest)!: support Vest 6 (#874)
  bun.lock
  package.json
  vest/src/__tests__/Form-native-validation.tsx
  vest/src/__tests__/Form.tsx
  vest/src/__tests__/__fixtures__/data.ts
  vest/src/__tests__/special-path-names.ts
  vest/src/__tests__/vest.ts
  vest/src/types.ts
  vest/src/vest.ts
Due: lint, typescript

Notes added by 'git notes add'
  a5100abc15df38a4a256d5e5e92e8efd9f9f96bb
Due: none

feat: update joi to v18 (#873)
  bun.lock
  package.json
Due: none

Notes added by 'git notes add'
  c8159aebf3902956a383975a3e47e4c5ba8a9edb
Due: none

fix: isNameInFieldArray fails to recognise bracket-notation array paths causing nested errors overwriting
  src/__tests__/toNestErrors.ts
  src/toNestErrors.ts
Due: lint, typescript

fix: isNameInFieldArray fails to recognise bracket-notation array paths causing nested errors overwriting (#876)
  src/__tests__/toNestErrors.ts
  src/toNestErrors.ts
Due: lint, typescript

Notes added by 'git notes add'
  f18ddfbb5f75a24b77c408565ad767eba4dd6704
Due: none

chore(deps): bump ata-validator to ^1.23.0
  package.json
Due: none

chore(deps): bump ata-validator to ^1.23.0 (#877)
  package.json
Due: none
