Repository react-hook-form/resolvers: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typescript

lint:
  run: bun lint {staged_files}

typescript:
  run: bun tsc --noEmit

typeschema
  standard-schema/src/__tests__/standard-schema.ts
  typeschema/src/__tests__/Form.tsx
  typeschema/src/__tests__/__fixtures__/data.ts
  typeschema/src/__tests__/typeschema.ts
  typeschema/src/index.ts
  typeschema/src/types.ts
  typeschema/src/typeschema.ts
Due: lint, typescript

fix(typebox): improve type interface
  typebox/src/typebox.ts
Due: lint, typescript

fix(typebox): improve type interface (#757)
  typebox/src/typebox.ts
Due: lint, typescript

chore: bump RHF
  ajv/package.json
  arktype/package.json
  computed-types/package.json
  effect-ts/package.json
  fluentvalidation-ts/package.json
  io-ts/package.json
  joi/package.json
  nope/package.json
  package.json
  standard-schema/package.json
  superstruct/package.json
  typanion/package.json
  typebox/package.json
  typeschema/package.json
  valibot/package.json
  vest/package.json
  vine/package.json
  yup/package.json
  zod/package.json
Due: none

ci: temp fix compressed size
  .github/workflows/compressedSize.yml
Due: none

chore: update bun.lock
  bun.lock
Due: none

chore: use RHF 7.55.0
  ajv/package.json
  arktype/package.json
  bun.lock
  computed-types/package.json
  effect-ts/package.json
  fluentvalidation-ts/package.json
  io-ts/package.json
  joi/package.json
  nope/package.json
  package.json
  standard-schema/package.json
  superstruct/package.json
  typanion/package.json
  typebox/package.json
  typeschema/package.json
  valibot/package.json
  vest/package.json
  vine/package.json
  yup/package.json
  zod/package.json
Due: none

chore: reg bun.lock
  .husky/pre-commit
  .husky/prepare-commit-msg
  bun.lock
Due: none

Notes added by 'git notes add'
  a54d05a9a27545c0be563bd770596a9c0e24a172
Due: none

fix: relax version constraint for react-hook-form 7.55.0 → ^7.55.0
  ajv/package.json
  arktype/package.json
  bun.lock
  computed-types/package.json
  effect-ts/package.json
  fluentvalidation-ts/package.json
  io-ts/package.json
  joi/package.json
  nope/package.json
  package.json
  standard-schema/package.json
  superstruct/package.json
  typanion/package.json
  typebox/package.json
  typeschema/package.json
  valibot/package.json
  vest/package.json
  vine/package.json
  yup/package.json
  zod/package.json
Due: none

chore: update the bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

feat: add valita
  README.md
  bun.lock
  config/node-13-exports.js
  package.json
  valita/package.json
  valita/src/__tests__/Form-native-validation.tsx
  valita/src/__tests__/Form.tsx
  valita/src/__tests__/__fixtures__/data.ts
  valita/src/__tests__/__snapshots__/valita.ts.snap
  valita/src/__tests__/valita.ts
  valita/src/index.ts
  valita/src/valita.ts
Due: lint, typescript

fix: relax version constraint for react-hook-form 7.55.0 → ^7.55.0 (#758)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  ajv/package.json
  arktype/package.json
  bun.lock
  computed-types/package.json
  effect-ts/package.json
  fluentvalidation-ts/package.json
  io-ts/package.json
  joi/package.json
  nope/package.json
  package.json
  standard-schema/package.json
  superstruct/package.json
  typanion/package.json
  typebox/package.json
  typeschema/package.json
  valibot/package.json
  vest/package.json
  vine/package.json
  yup/package.json
  zod/package.json
Due: none

Notes added by 'git notes add'
  6e8839343dcfea0fe9b874772a01f3bc551cbb5c
Due: none

feat: add an errors getter compatible with zod v4
  zod/src/zod.ts
Due: lint, typescript

add prebuild script to collect peerdeps
  config/collect-peerdeps.js
  lefthook.yml
  package.json
Due: lint

make peerdeps optional
  config/collect-peerdeps.js
  package.json
Due: lint

docs: fix table formatting
  README.md
Due: none

docs: fix table formatting (#774)
  README.md
Due: none

feat: zod v4 support
  bun.lock
  package.json
  typebox/src/__tests__/typebox.ts
  zod/src/index.ts
  zod/src/zodv4.ts
Due: lint, typescript

fix: zod version
  bun.lock
  package.json
Due: none

fix: align zod integration with library authoring best practices
  package.json
  zod/src/zodv4.ts
Due: lint, typescript

Add Zod 4 support
  README.md
  bun.lock
  package.json
  typeschema/src/typeschema.ts
  zod/src/__tests__/__fixtures__/data-v3.ts
  zod/src/__tests__/__fixtures__/data-v4-mini.ts
  zod/src/__tests__/__fixtures__/data-v4.ts
  zod/src/__tests__/zod-v3.ts
  zod/src/__tests__/zod-v4-mini.ts
  zod/src/__tests__/zod-v4.ts
  zod/src/zod.ts
Due: lint, typescript

Format
  typebox/src/__tests__/typebox.ts
Due: lint, typescript

Add fallbacks
  zod/src/__tests__/__fixtures__/data-v3.ts
  zod/src/__tests__/zod-v3.ts
  zod/src/__tests__/zod-v4.ts
  zod/src/zod.ts
Due: lint, typescript

Fix inference
  README.md
  bun.lock
  standard-schema/src/__tests__/__fixtures__/data.ts
  standard-schema/src/__tests__/standard-schema.ts
  typeschema/src/__tests__/Form-native-validation.tsx
  typeschema/src/__tests__/Form.tsx
  typeschema/src/__tests__/__fixtures__/data.ts
  typeschema/src/__tests__/typeschema.ts
  zod/src/__tests__/Form-native-validation.tsx
  zod/src/__tests__/Form.tsx
  zod/src/__tests__/__fixtures__/data-v3.ts
  zod/src/__tests__/zod-v3.ts
  zod/src/__tests__/zod-v4.ts
  zod/src/zod.ts
Due: lint, typescript

Bump lockfile dep
  bun.lock
Due: none

feat: support Zod 4 (#777)
  README.md
  bun.lock
  package.json
  standard-schema/src/__tests__/standard-schema.ts
  typebox/src/__tests__/typebox.ts
  typeschema/src/__tests__/Form-native-validation.tsx
  typeschema/src/__tests__/Form.tsx
  typeschema/src/__tests__/__fixtures__/data.ts
  typeschema/src/__tests__/typeschema.ts
  typeschema/src/typeschema.ts
  zod/src/__tests__/Form-native-validation.tsx
  zod/src/__tests__/Form.tsx
  zod/src/__tests__/__fixtures__/data-v3.ts
  zod/src/__tests__/__fixtures__/data-v4-mini.ts
  zod/src/__tests__/__fixtures__/data-v4.ts
  zod/src/__tests__/zod-v3.ts
  zod/src/__tests__/zod-v4-mini.ts
  zod/src/__tests__/zod-v4.ts
  zod/src/zod.ts
Due: lint, typescript

Notes added by 'git notes add'
  8d083bd5f5c3242afa1d59e10b1f72988e7b7e82
Due: none

fix: zod peer dep issue
  zod/package.json
Due: none

fix: zod peer dep issue (#780)
  zod/package.json
Due: none

Notes added by 'git notes add'
  79cd8b284da29a5a42cd5fdafa2e767747fcfcf7
Due: none

try fixing discriminated union for zod v4 mini
  zod/src/__tests__/__fixtures__/data-v4-mini.ts
  zod/src/zod.ts
Due: lint, typescript

add ajv-formats for ajvResolver
  ajv/package.json
  ajv/src/ajv.ts
  bun.lock
  package.json
Due: lint, typescript

fix: zod v4 peer deps
  zod/package.json
Due: none

change lint command and add @biomejs/biome as dev dep
  bun.lock
  package.json
Due: none

feat(ajv): add ajv-formats for ajvResolver (#797)
  ajv/package.json
  ajv/src/ajv.ts
  bun.lock
  package.json
Due: lint, typescript

Notes added by 'git notes add'
  f04003972a3cc7875beb073ff88c942deb6a2086
Due: none

fix(zod): fix output type for Zod 4 resolver
  zod/src/zod.ts
Due: lint, typescript

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  typescript: any of: *.{ts,tsx}
