Repository react-hook-form/resolvers: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typescript, collect-peerdeps

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: bun lint {staged_files}
      stage_fixed: true
    typescript:
      glob: '*.{ts,tsx}'
      run: bun tsc --noEmit
    collect-peerdeps:
      glob: '**/package.json'
      run: node ./config/collect-peerdeps.js
      stage_fixed: true

feat: typescript 6 & upgrade lib dev deps (#856)
  ajv/tsconfig.json
  arktype/tsconfig.json
  ata-validator/tsconfig.json
  bun.lock
  class-validator/tsconfig.json
  computed-types/tsconfig.json
  effect-ts/tsconfig.json
  fluentvalidation-ts/tsconfig.json
  io-ts/tsconfig.json
  joi/tsconfig.json
  nope/src/nope.ts
  nope/src/types.ts
  nope/tsconfig.json
  package.json
  standard-schema/tsconfig.json
  superstruct/tsconfig.json
  tsconfig.build.json
  tsconfig.json
  typanion/tsconfig.json
  typebox/tsconfig.json
  typeschema/src/__tests__/Form-native-validation.tsx
  typeschema/src/__tests__/Form.tsx
  typeschema/tsconfig.json
  valibot/tsconfig.json
  vest/tsconfig.json
  vine/tsconfig.json
  yup/tsconfig.json
  zod/tsconfig.json
Due: lint, typescript

Notes added by 'git notes add'
  996895933ff31bd3c3fca0d3a6f66138f0852c0f
Due: none

fix: [zod v4][zod resolver] error on nested discriminated unions
  zod/src/__tests__/zod-v4.ts
  zod/src/zod.ts
Due: lint, typescript

fix: [zod v4][zod resolver] error on nested discriminated unions (#858)
  zod/src/__tests__/zod-v4.ts
  zod/src/zod.ts
Due: lint, typescript

Notes added by 'git notes add'
  4d01d0167d0fedda3d38cd618acab008e13fa24f
Due: none

fix issue: [zod v4] invalid_union parsing fails if it errors on No matching discriminator
  zod/src/__tests__/zod-v4.ts
  zod/src/zod.ts
Due: lint, typescript

add unit test
  zod/src/__tests__/zod-v4.ts
Due: lint, typescript

add unit test (#859)
  zod/src/__tests__/zod-v4.ts
Due: lint, typescript

fix: Zod v4 locale and global error customization not picked up
  zod/src/__tests__/zod-v4-mini.ts
  zod/src/__tests__/zod-v4.ts
  zod/src/zod.ts
Due: lint, typescript

fix: Zod v4 locale and global error customization not picked up (#860)
  zod/src/__tests__/zod-v4-mini.ts
  zod/src/__tests__/zod-v4.ts
  zod/src/zod.ts
Due: lint, typescript

Notes added by 'git notes add'
  2126efc6e8d9325c18413534a651f7fee22ce8c8
Due: none

fix: Conditional/dynamic schema resolution no longer working
  zod/src/__tests__/zod-v3.ts
  zod/src/__tests__/zod-v4.ts
  zod/src/zod.ts
Due: lint, typescript

fix: Conditional/dynamic schema resolution no longer working (#861)
  zod/src/__tests__/zod-v3.ts
  zod/src/__tests__/zod-v4.ts
  zod/src/zod.ts
Due: lint, typescript

Notes added by 'git notes add'
  f8d653319cedece2063140378b6d61e77bcf57b0
Due: none

close #760
  README.md
Due: none

fix: AJV Resolver - When ajv schema contains default for certain properties, getValues() returns the form data with properties overwritten
  ajv/src/__tests__/ajv.ts
  ajv/src/ajv.ts
Due: lint, typescript

fix: AJV Resolver - When ajv schema contains default for certain properties, getValues() returns the form data with properties overwritten (#862)
  ajv/src/__tests__/ajv.ts
  ajv/src/ajv.ts
Due: lint, typescript

Notes added by 'git notes add'
  c4b6aab69c64b7a3ea95223552a7996e741aea39
Due: none

fix: yup resolver overrides ref property in errors object with validation metadata when using checkbox input
  src/__tests__/toNestErrors.ts
  src/toNestErrors.ts
  yup/src/__tests__/Form.tsx
Due: lint, typescript

fix: yup resolver overrides ref property in errors object with validation metadata when using checkbox input (#863)
  src/__tests__/toNestErrors.ts
  src/toNestErrors.ts
  yup/src/__tests__/Form.tsx
Due: lint, typescript

Notes added by 'git notes add'
  0f70063beb28496ffac0b5345d75826a077934ee
Due: none

close #664
  README.md
  typebox/src/typebox.ts
Due: lint, typescript

close #773
  README.md
  valibot/src/__tests__/valibot.ts
Due: lint, typescript

fix issue: module not found when importing zodResolver under Zod v3
  zod/src/__tests__/subpath-imports.ts
  zod/src/zod.ts
Due: lint, typescript

fix: module not found when importing zodResolver under Zod v3 (#864)
  zod/src/__tests__/subpath-imports.ts
  zod/src/zod.ts
Due: lint, typescript

Notes added by 'git notes add'
  8df10b070bb9995920424448ea824981c511abc3
Due: none

fix npm install fails with ERESOLVE conflict between @hookform/resolvers@5.4.3 and valibot versions
  package.json
  valibot/package.json
Due: collect-peerdeps

fix: npm install fails with ERESOLVE conflict between @hookform/resolvers@5.4.3 and valibot versions (#865)
  package.json
  valibot/package.json
Due: collect-peerdeps

Notes added by 'git notes add'
  722ef6e42eb29718763a66cfea91fe79e9cae081
Due: none

feat: support vine v4
  README.md
  bun.lock
  package.json
  vine/package.json
  vine/src/__tests__/Form-native-validation.tsx
  vine/src/__tests__/Form.tsx
  vine/src/__tests__/__fixtures__/data.ts
  vine/src/__tests__/vine.ts
  vine/src/vine.ts
Due: lint, typescript, collect-peerdeps

Update ata-validator peer dependency version
  ata-validator/package.json
Due: collect-peerdeps

fix: Zod resolver drops validation errors for special root field names
  zod/src/__tests__/special-path-names.ts
  zod/src/zod.ts
Due: lint, typescript

fix: Zod resolver drops validation errors for special root field names (#869)
  zod/src/__tests__/special-path-names.ts
  zod/src/zod.ts
Due: lint, typescript

Notes added by 'git notes add'
  2f287871f4d3184892cba1ac1a0c570a4e1cf8f5
Due: none

improve all resolvers
  ajv/src/__tests__/special-path-names.ts
  ajv/src/ajv.ts
  arktype/src/__tests__/special-path-names.ts
  arktype/src/arktype.ts
  ata-validator/src/__tests__/special-path-names.ts
  ata-validator/src/ata-validator.ts
  effect-ts/src/__tests__/special-path-names.ts
  effect-ts/src/effect-ts.ts
  joi/src/__tests__/special-path-names.ts
  joi/src/joi.ts
  typebox/src/__tests__/special-path-names.ts
  typebox/src/typebox.ts
  typeschema/src/__tests__/special-path-names.ts
  typeschema/src/typeschema.ts
  valibot/src/__tests__/special-path-names.ts
  valibot/src/valibot.ts
  vest/src/__tests__/special-path-names.ts
  vest/src/vest.ts
  vine/src/__tests__/special-path-names.ts
  vine/src/vine.ts
  yup/src/__tests__/special-path-names.ts
  yup/src/yup.ts
  zod/src/__tests__/special-path-names.ts
  zod/src/zod.ts
Due: lint, typescript

improve all resolvers (#870)
  ajv/src/__tests__/special-path-names.ts
  ajv/src/ajv.ts
  arktype/src/__tests__/special-path-names.ts
  arktype/src/arktype.ts
  ata-validator/src/__tests__/special-path-names.ts
  ata-validator/src/ata-validator.ts
  effect-ts/src/__tests__/special-path-names.ts
  effect-ts/src/effect-ts.ts
  joi/src/__tests__/special-path-names.ts
  joi/src/joi.ts
  typebox/src/__tests__/special-path-names.ts
  typebox/src/typebox.ts
  typeschema/src/__tests__/special-path-names.ts
  typeschema/src/typeschema.ts
  valibot/src/__tests__/special-path-names.ts
  valibot/src/valibot.ts
  vest/src/__tests__/special-path-names.ts
  vest/src/vest.ts
  vine/src/__tests__/special-path-names.ts
  vine/src/vine.ts
  yup/src/__tests__/special-path-names.ts
  yup/src/yup.ts
Due: lint, typescript

feat: improve all resovlers drops validation errors for special root field names
  README.md
Due: none

Notes added by 'git notes add'
  b011a5f3f793dba475b143cca34859997cdfb161
Due: none

remove dead image
  README.md
Due: none

feat: support vine v4 (#867)
  README.md
  bun.lock
  package.json
  vine/package.json
  vine/src/__tests__/Form-native-validation.tsx
  vine/src/__tests__/Form.tsx
  vine/src/__tests__/__fixtures__/data.ts
  vine/src/__tests__/vine.ts
  vine/src/vine.ts
Due: lint, typescript, collect-peerdeps
