Repository react-hook-form/resolvers: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typescript, collect-peerdeps

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: bun lint {staged_files}
      stage_fixed: true
    typescript:
      glob: '*.{ts,tsx}'
      run: bun tsc --noEmit
    collect-peerdeps:
      glob: '**/package.json'
      run: node ./config/collect-peerdeps.js
      stage_fixed: true

fix: zod v4 peer deps (#798)
  zod/package.json
Due: collect-peerdeps

fix(zod): fix output type for Zod 4 resolver (#801)
  zod/src/zod.ts
Due: lint, typescript

fix: discriminated union for zod v4 mini (#784)
  zod/src/__tests__/__fixtures__/data-v4-mini.ts
  zod/src/zod.ts
Due: lint, typescript

Notes added by 'git notes add'
  49a0d7ba939f58e04ca2d01a98949fc70f50b53e
Due: none

Revert "fix(zod): fix output type for Zod 4 resolver (#801)"
  zod/src/zod.ts
Due: lint, typescript

fix(zod): remove _def.typeName from Zod3Type to support dynamic schemas again (#782)
  zod/src/zod.ts
Due: lint, typescript

test(zod): add test for dynamic schema (#782)
  zod/src/__tests__/zod-v3.ts
Due: lint, typescript

test(zod): replace `as z.ZodType` with type annotation (#782)
  zod/src/__tests__/zod-v3.ts
Due: lint, typescript

fix(zod): fix output type for Zod 4 resolver (#803)
  zod/src/zod.ts
Due: lint, typescript

Notes added by 'git notes add'
  e95721d3c8c6d6e555508b0e7b21c6ac801360cf
Due: none

fix: error paths in complex unions
  zod/src/zod.ts
Due: lint, typescript

fixes zod fieldError type
  zod/src/zod.ts
Due: lint, typescript

Fix FiledErrors type assertion
  zod/src/zod.ts
Due: lint, typescript

Test: build check
  zod/src/zod.ts
Due: lint, typescript

Remove unnecessary type assertion
  zod/src/zod.ts
Due: lint, typescript

Remove more unnecessary type assertions
  valibot/src/valibot.ts
  vine/src/vine.ts
Due: lint, typescript

chore: add convex deps
  bun.lock
  convex/package.json
  package.json
Due: collect-peerdeps

feat: create convex resolver
  convex/src/convex.ts
  convex/src/index.ts
Due: lint, typescript

test: add convex tests
  convex/package.json
  convex/src/__tests__/Form-native-validation.tsx
  convex/src/__tests__/Form.tsx
  convex/src/__tests__/__fixtures__/data.ts
  convex/src/__tests__/convex.ts
Due: lint, typescript, collect-peerdeps

Fix(zodResolver): error paths in complex unions #787 (#819)
  valibot/src/valibot.ts
  vine/src/vine.ts
  zod/src/zod.ts
Due: lint, typescript

Change test command from 'bun test' to 'bun run test'
  CONTRIBUTING.md
Due: none

feat: add Elysia TypeBox resolver for react-hook-form
  README.md
  elysia-typebox/README.md
  elysia-typebox/package.json
  elysia-typebox/src/__tests__/Form-compiler.tsx
  elysia-typebox/src/__tests__/Form-native-validation-compiler.tsx
  elysia-typebox/src/__tests__/Form-native-validation.tsx
  elysia-typebox/src/__tests__/Form.tsx
  elysia-typebox/src/__tests__/__fixtures__/data.ts
  elysia-typebox/src/__tests__/__snapshots__/elysia-typebox.ts.snap
  elysia-typebox/src/__tests__/elysia-typebox-compiler.ts
  elysia-typebox/src/__tests__/elysia-typebox.ts
  elysia-typebox/src/elysia-typebox.ts
  elysia-typebox/src/index.ts
  package.json
Due: lint, typescript, collect-peerdeps

fix: remove unnecessary elysia peer dependency
  elysia-typebox/package.json
Due: collect-peerdeps

fix: improve TypeScript types and support broader schema types
  elysia-typebox/src/elysia-typebox.ts
Due: lint, typescript

fix: properly handle TypeScript constraints without any types
  elysia-typebox/src/elysia-typebox.ts
Due: lint, typescript

fix: update export map to reference .modern.mjs for elysia-typebox
  bun.lock
  package.json
Due: none

fix: handle undefined values for optional fields with transforms
  elysia-typebox/src/elysia-typebox.ts
Due: lint, typescript

fix: improve TypeScript type constraints for elysia-typebox resolver
  elysia-typebox/package.json
  elysia-typebox/src/__tests__/elysia-typebox.ts
  elysia-typebox/src/elysia-typebox.ts
Due: lint, typescript, collect-peerdeps

chore: remove unnecessary @types/react devDependency from elysia-typebox
  elysia-typebox/package.json
Due: collect-peerdeps

fix: make resolver accept schemas from drizzle-typebox
  elysia-typebox/src/elysia-typebox.ts
Due: lint, typescript

fix: handle undefined values in optional fields
  elysia-typebox/src/__tests__/elysia-typebox-optional.test.ts
  elysia-typebox/src/elysia-typebox.ts
Due: lint, typescript

chore: remove unnecessary elysia dependency from root package.json
  package.json
Due: none

fix: fix nesting issue due to the errors order
  src/__tests__/__snapshots__/toNestErrors.ts.snap
  src/__tests__/toNestErrors.ts
  src/toNestErrors.ts
Due: lint, typescript

fix: remove structuredClone ("target" is "ES2017")
  src/toNestErrors.ts
Due: lint, typescript

fix: focus-on-first-error-field-when-shouldUseNativeValidation
  src/validateFieldsNatively.ts
Due: lint, typescript

docs: clarify yupResolver context usage in README
  README.md
Due: none

fix: ambigious expression
  README.md
Due: none

fix(tests): fix all failing tests
  .github/workflows/main.yml
  CONTRIBUTING.md
  arktype/src/__tests__/__snapshots__/arktype.ts.snap
  arktype/src/__tests__/arktype.ts
  bun.lock
  computed-types/src/__tests__/computed-types.ts
  effect-ts/src/__tests__/effect-ts.ts
  io-ts/src/__tests__/io-ts.ts
  standard-schema/src/__tests__/standard-schema.ts
  superstruct/src/__tests__/superstruct.ts
  superstruct/src/superstruct.ts
  typanion/src/__tests__/typanion.ts
  typebox/src/__tests__/typebox.ts
  typeschema/src/__tests__/typeschema.ts
  typeschema/src/typeschema.ts
  valibot/src/__tests__/valibot.ts
  vine/src/__tests__/vine.ts
  vitest.config.mts
  yup/src/__tests__/yup.ts
  zod/src/__tests__/__snapshots__/zod-v3.ts.snap
  zod/src/__tests__/__snapshots__/zod-v4-mini.ts.snap
  zod/src/__tests__/__snapshots__/zod-v4.ts.snap
  zod/src/__tests__/zod-v3.ts
  zod/src/__tests__/zod-v4-mini.ts
  zod/src/__tests__/zod-v4.ts
Due: lint, typescript

ci: updated publish workflow to use node 24
  .github/workflows/main.yml
Due: none

ci: updated publish workflow to use node 24 (#838)
  .github/workflows/main.yml
Due: none
